body {
    background-color: #c7bfbf;
}

#admin {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 20px;
    background-color: rgb(42, 42, 192);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 15px 2px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-right: none;
}

#admin .heading {
    text-align: center;
    padding: 15px 2px;
}

#admin h3 {
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.menu-icon,
.close-icon {
    font-size: 30px;
    cursor: pointer;
}

.menu-icon {
    display: inline-block;
    color: black;
    padding: 10px 0;
}

#menu-toggle {
    display: none;
}

.sidebar {
    z-index: 1;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidebar .close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

#menu-toggle:checked ~ .sidebar {
    left: 0;
}

#logout {
    margin-top: 400px;
    border: 2px solid rgb(88, 86, 86);
    text-align: center;
    border-radius: 10px;
    background-color: blue;
    padding: 2px;
}

#logout:hover {
    background-color: rgb(219, 211, 211);
    color: rgb(70, 70, 219);
}

i:hover {
    color: rgb(70, 70, 219);
}
#division {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Optional: allows wrapping to next line if needed */
}

.box{
    flex-direction: column;
    height: 200px;
    width: 150px;
    background-color: #dbcfcf;
    margin: 20px;
    margin-top: 15%;
    border: 1.5px solid rgb(146, 146, 151) ;
    box-shadow: 5px 5px 20px rgba(24, 36, 207, 0.5);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center ;    
    font-size: 20px;
    text-transform: uppercase;
    
}
.box:hover{
    background-color: #e0e0e0;
    border-color: #999;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}   